:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #EE4D2D;
    --star-gold-color: #FFCE3E;
    --border-color: #dbdbdb;
    --header-height: 120px;
    --narbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--narbar-height))
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}


/* Test */

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Growth {
    from {
        transform: scale(var(--growth-from))
    }
    to {
        transform: scale(var(--growth-to))
    }
}


/* modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    position: relative;
    margin: auto;
    z-index: 1;
    animation: Growth linear 0.1s;
}


/* button */

.btn {
    min-width: 124px;
    height: 34px;
    border: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    border-radius: 2px;
    background-color: var(--white-color);
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.btn.btn--size-s {
    height: 30px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disable {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}


/*logo google color*/

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}


/* selection */

.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 3px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}

.select-input__list {
    position: absolute;
    top: 26px;
    left: 0;
    right: 0;
    border-radius: 3px;
    padding: 8px 16px;
    list-style: none;
    background-color: var(--white-color);
    display: none;
    z-index: 1;
}

.select-input__list::before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -6px;
    left: 0;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}


/* pagination */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px 0;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #ed5c3f;
}

.pagination-item__link {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #969696;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
}


/* footer */

.footer {
    border-top: 3px solid var(--primary-color);
    padding-top: 12px;
}

.footer-heading {
    font-size: 1.4rem;
    color: var(--text-color);
    text-transform: uppercase;
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item {}

.footer-item__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.3rem;
    color: #737373;
    padding-bottom: 8px;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__link-icon {
    font-size: 1.6rem;
    padding-right: 4px;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    height: 80px;
    object-fit: contain;
    border: 1px solid rgb(201, 201, 201);
}

.footer__download-apps {
    margin-left: 12px;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-img {
    height: 16px;
    margin: 8px 0;
}

.footer__download-apps-link {
    text-decoration: none;
    color: transparent;
}

.footer-bottom {
    background-color: #F5F5F5;
    padding: 8px 0;
    margin-top: 30px;
}

.footer-bottom p {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}